/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart {
  from {
    scale: 1;
  }
  to {
    scale: 1.25;
  }
}

@keyframes sparks {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: repeating-linear-gradient(to right, rgb(211, 211, 211), rgb(211, 211, 211) 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(to bottom, rgb(211, 211, 211), rgb(211, 211, 211) 2px, transparent 2px, transparent 4px),
  linear-gradient(to bottom, rgb(231 231 231), rgb(231 231 231) 0.01%, rgb(26 26 26) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  font-family: var(--font-primary), sans-serif;
  font-variation-settings: "wght" var(--card-text-weight);
}

/* Вернуться позднее и проверить как центрировать при помощи clamp */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  font-family: var(--font-accent), monospace;
  border: 2px solid var(--section-border);
  min-block-size: 368px;
  margin-block-start: 102px;
}

.section__width {
  inline-size: var(--section-width);
}

.section__font-uppercase {
  text-transform: uppercase;
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-start: 20px;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  font-size: var(--font-size-primary);
}

.post__preparation {
  margin-block-start: 100px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid var(--section-border);
  background-color: var(--color-background);
}

.card:not(:last-child) {
  margin-block-end: 50px;
}

.card__title {
  grid-row: 1 / 2;
  font-size: var(--font-size-primary);
  font-variation-settings: "wght" var(--card-title-weight);
  padding: 3px 24px 3px 10px;
  max-inline-size: 100%;
}

.card__image {
  grid-row: 2 / 3;
  display: grid;
  border-bottom: 2px solid var(--color-primary);
  border-top: 2px solid var(--color-primary);
}

.image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  inline-size: 100%;
  block-size: 100%;
}

.image-excitement {
  filter: brightness(200%);
}

.image-determination {
  filter: contrast(200%);
}

.image-panic {
  filter: blur(0.2rem);
}

.image-acceptance {
  filter: sepia(50%);
}

.image-opennes {
  filter: opacity(70%);
}

.image-annoyance {
  filter: saturate(180%) hue-rotate(45deg);
}

.image-lethargy {
  filter: grayscale(100%);
}

.image-stubbornness {
  filter: brightness(150%) contrast(150%);
}

/* Посмотреть как сделать через hard-light*/
.image__label {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: flex-end;
  font-family: var(--font-accent);
  font-size: var(--font-size-secondary);
  text-shadow:
    -1px 0 var(--color-text-stroke), 
    0 1px var(--color-text-stroke), 
    1px 0 var(--color-text-stroke), 
    0 -1px var(--color-text-stroke);
  opacity: 50%;
  padding: 25px 25px 0 0;
}

@supports ((text-stroke: 0.5px #fff) or (-webkit-text-stroke: 0.5px #fff)) {
  .image__label {
    -webkit-text-stroke: 0.5px var(--color-text-stroke);
    text-stroke: 1px var(--color-text-stroke);
    text-shadow: none;
  }
}

.card__text {
  grid-row: 3 / 4;
  max-inline-size: 100%;
  padding: 25px 25px 25px 25px;
}

.card__text-memory {
  grid-row: 4 / 5;
  max-inline-size: 100%;
  padding: 0 25px 25px 25px;
}

.card__button-container {
  grid-row: 5 / 6;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  padding: 0 25px 25px 0;
}

.button {
  font-family: var(--font-accent), monospace;
  font-size: var(--font-size-secondary);
  border: 2px solid var(--button-border);
  background-color: var(--color-background);
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-primary);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  color: var(--color-text-light);
  mix-blend-mode: difference;
  position: relative;
}

.card__icon-button {
  background: none; 
  border: none;
  padding: 0;
  block-size: 34px;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
  margin-inline-end: 12px;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--color-primary);
}

.sparks {
  opacity: 0%;
}

.like-icon .core {
  fill: transparent; 
  transition: fill 0.3s 0.03s;
}

.like-icon .main-body {
  fill: transparent; 
  transition: fill 0.3s;
}

.like-icon .contour {
  fill: var(--contour-color); 
  transition: fill 0.1s;
}

.like-icon:hover .core {
  fill: var(--core-hover-color);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--main-body-hover-color);
  transition: fill 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--core-active-color);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--main-body-active-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--core-active-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--main-body-active-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--main-body-active-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.card__like-button {
  padding: 10px 37px;
}

.button__save {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18.5px 21px 18.5px 19px;
  margin-block-start: 50px;
}

.icon__save {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.popup {
  font-family: var(--font-accent);
  max-inline-size: 357px;
  min-inline-size: 341px;
  padding: 30px 30px;
  margin: 0;
}

.popup[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: min-content 1fr;
}

.popup[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.popup__title {
  grid-column: 2 / 3;
  align-items: center;
  font-size: var(--font-size-secondary);
  line-height: 150%;
  padding-inline-start: 20px;
}

 .popup .icon__save {
  grid-column: 1 / 2;
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
 }

 .popup__button-ok {
  grid-column: 1 / 3;
  align-self: flex-end;
  padding: 12.5px 132.5px;
  margin-block-start: 30px;
 }

@media (width <= 375px) {
  .section__width {
    inline-size: 100%;
  }

  .image__label {
    padding: 25px 13px 0 0;
  }
}