/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/



.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  font-family: var(--font-primary), sans-serif;
  font-variation-settings: "wght" var(--card-text-weight);
}

/* Вернуться позднее и проверить как центрировать при помощи clamp */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  font-family: var(--font-accent), monospace;
  border: var(--section-border);
  min-block-size: 368px;
  margin-block-start: 102px;
}

.section__width {
  inline-size: var( --section-width);
}

.section__font-uppercase {
  text-transform: uppercase;
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-start: 20px;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  font-size: var(--font-size-primary);
  inline-size: var(--section-width);
}

.post__preparation {
  margin-block-start: 100px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  border: var(--section-border);
  background-color: var(--color-background);
}

.card:not(:last-child) {
  margin-block-end: 50px;
}

.card__title {
  grid-row: 1 / 2;
  font-size: var(--font-size-primary);
  font-variation-settings: "wght" var(--card-title-weight);
  padding: 3px 24px 3px 10px;
  max-inline-size: 100%;
}

.card__image {
  grid-row: 2 / 3;
  position: relative;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  margin-inline-start: -2px;
}

/* Посмотреть как сделать через hard-light*/
.image__label {
  font-family: var(--font-accent);
  font-size: var(--font-size-secondary);
  text-shadow:
    -1px 0 var(--color-text-stroke), 
    0 1px var(--color-text-stroke), 
    1px 0 var(--color-text-stroke), 
    0 -1px var(--color-text-stroke);
  opacity: 50%;
  position: absolute;
  bottom: calc(100% - 40px);
  left: calc(100% - 130px);
}

@supports ((text-stroke: 0.5px #fff) or (-webkit-text-stroke: 0.5px #fff)) {
  .image__label {
    -webkit-text-stroke: 0.5px var(--color-text-stroke);
    text-stroke: 1px var(--color-text-stroke);
    text-shadow: none;
  }
}

.card__text {
  grid-row: 3 / 4;
  max-inline-size: 100%;
  padding: 25px 25px 25px 25px;
}

.card__text-memory {
  grid-row: 4 / 5;
  max-inline-size: 100%;
  padding: 0 25px 25px 25px;
}

.card__button-container {
  grid-row: 5 / 6;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  max-inline-size: 100%;
  padding: 0 25px 25px 0;
}

.button {
  font-family: var(--font-accent), monospace;
  font-size: var(--font-size-secondary);
  border: var(--button-border);
  background-color: var(--color-background);
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}

.card__icon-button {
  background: none; 
  border: none;
  margin-inline-end: 12px;
}

.card__like-button {
  padding: 12.5px 37px;
}

/* Подумать как выровнять иконку и текст в кнопке */

.button__save {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18.5px 21px 18.5px 19px;
  margin-block-start: 50px;
}

.icon__save {
  inline-size: 21px;
  block-size: 21px;
}













@media (max-width: 375px) {
  .section__width {
    inline-size: 100vw;
  }

  .image {
    margin: 0;
  }

  .image__label {
    bottom: calc(100% - 35px);
    left: calc(100% - 120px);
  }
}